<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hmdroid.wazamachine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cut" />
        <activity android:name=".fly" />
        <activity android:name=".about_fly" />
        <activity android:name=".about_cut" />
        <activity android:name=".surf" />
        <activity android:name=".about_surf" />
        <activity android:name=".strength" />
        <activity android:name=".about_strength" />
        <activity android:name=".choose_05" />
        <activity android:name=".choose_06" />
        <activity android:name=".choose_07" />
        <activity android:name=".choose_08" />
        <activity android:name=".flash" />
        <activity android:name=".about_flash" />
        <activity android:name=".defog" />
        <activity android:name=".about_defog"></activity>
    </application>

</manifest>